[user]
	email = baukeposthuma@gmail.com
	name = Bauke Posthuma
[core]
	excludesfile = ~/.gitignore_global
	editor = nano
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
    # Make `git push` push relevant annotated tags when pushing branches out.
    followTags = true
[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1
